.footer {
  background-color: #280004;
  height: 5vh;
  width : 211vh;
  position: fixed;
  bottom: 0px;  
}

.App {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

label,
input {
  color: #280004;
  display: block;
  width: 100%;
}

label {
  margin-bottom: 5px;
  height: 22px;
}

input {
  background-color: #F7F4F3;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #280004;
}

input.error {
  border-color: #009FB7;
}

.input-feedback {
  color: #009FB7;
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  background-color: #280004;
  color: #ece4b7;
  border: 1px #280004;
  transition: ease-in-out background-color 250ms, ease-in-out color 250ms;
}

button:hover {
  cursor: pointer;
  background-color: #280004;
  color: #E3D26F;
}

.navbar {
  background-color: #280004;
}

.nav-link{
  color: #F7F4F3;
}

.navbar-brand{
  color: #F7F4F3;
}

.jumbotron{
  background-color: #280004;
  color: #F7F4F3;
}

.mainPhotoContainer{
  background-color: #280004;
  color: #F7F4F3;
  display: flex;
  justify-content: center;
}

.nav-link:hover{
  color: #E3D26F;
}

.profile{
  max-width: 600px;
}

.navbar-brand:hover{
  color: #E3D26F;
}

p, ul{
  color: #280004;
}

.img-wrap{
  overflow: hidden;
  height: 300px;
  padding: 0px 0;
  position: relative;
  opacity: 0.8;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
}

.img-wrap img{
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  max-width: 150%;
  /* position: absolute; */
  top: 0;
  left: 0;
}