.profile{
    width: 100vh;
    height: auto;
    padding: 30px 30px 30px 30px;
    background-color: #0f0f0f;
    color: #E4DFDA;
    margin: 0px 0px 0px 384px;
    float: left;
    font-family: 'Work Sans', sans-serif;
    font-size: 7vh;
}

.profile-header{
    margin: 0px 0px 0px 384px;
    padding: 5px 27px 27px 27px;
    height: 11.6vh;
    width: 100vh;
    background-color: #3993DD;
    color: #E4DFDA;
    font-weight: 800;
}

.role-list{
    list-style: none;
}

.profile-header{
    font-family: 'Work Sans', sans-serif;
    font-size: 7vh;
}

ul{
    padding: 0;
    margin: 0;
}

#edit{
    text-align: left;
}

.info{
    font-weight: 600;
}