.register{
    width: auto;
    height: auto;
    padding: 0px 30px 40px 30px;
    background-color: #0f0f0f;
    color: #E4DFDA;
    margin: 0px 0px 0px 384px;
    float: left;
    font-family: 'Work Sans', sans-serif;
    font-size: 6vh;
}

#submit-register{
    border: 0;
    background-color: #E4DFDA;
    color: #0f0f0f;
    margin: 30px 0px 0px 0px;
    padding: 10px;
    width: 300px;
    transition: .3s background-color ease;
    transition: .3s color ease;
    font-weight: 800;
}

#submit-register:hover{
    background-color: #0f0f0f;
    color: #2B9720;
}