.mainPhotoContainer{
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 65px;
}
  
#mainPhoto{
    height: 800px;
}

.main-img-wrap{
    opacity: 0.9;
    position: relative;
}

.img-info{
    background-color: #0f0f0f;
    color: #E4DFDA;
    font-weight: 800;
    font-size: 3vh;
    width: 319px;
    height: auto;
    margin: 170px 0px 0px 1200px;
    position: absolute;
    top: 0;
}

.head-info{
    margin: 10px 0px 10px 20px;
}

.head-description{
    margin: 10px 0px 10px 20px;
}